<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <title>Login/Registration</title>
</head>
<body>
    <div id='wrap'>
        <h1>Login/Registration</h1>
        {% if messages %}
        <div id='errors'>
        <ul class="alert-danger" role="alert">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
        
        <div class='form-box'>
            <h1>Register:</h1>
            <form action="/register" method=POST>
                {% csrf_token %}
                <label>First Name: </label><input type="text" name='fname' placeholder="First Name"></input>
                <label>Last Name: </label><input type="text" name='lname' placeholder="Last Name"></input>
                <label for="age">Age:</label>
                <input type="number" name="age" id="age" min='13' class="form-control" placeholder="13yrs and older" required>
                <span class="validity"></span>
                <label for="birth_date">Birthday:</label> 
                <input type="date" name="birth_date" id=“birth_date” required>
                <span class="validity"></span>   
                <label>Email: </label><input type="text" name='email' placeholder="Email"></input>
                <label>Password: </label><input type="password" name='password' placeholder="Password"></input>
                <label>Confirm Password: </label><input type="password" name='confpw' placeholder="Password"></input>
                <input type="submit" value='Create User'></input>
            </form>
        </div>
        <div class='form-box'>
            <h1>Login:</h1>
            <form action="/login" method=POST>
                {% csrf_token %}
                <label>Email: </label><input type="text" name='email' placeholder="User's Email" required></input>
                <span class="validity"></span>
                <label>Password: </label><input type="password" name='password' placeholder="Password" required></input>
                <span class="validity"></span>
                <input type="submit" value='Login'></input>
            </form>
        </div>
    </div>
</body>
</html>